<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% styles.forEach(function(style){ %>
        <link rel="stylesheet" href="<%= style %>">
    <% }) %>
    <% if(map) {%>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
         integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
         crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
         integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
         crossorigin=""></script>
    <% } %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/header/style.css">
    <script src="header/header.js"></script>
</head>

<body>
    <nav>
        <ul>
            <li class="navbar-items">
                <a href="#">Crux</a>
            </li>
            <!-- Add rendering to this link-->
            <li class="navbar-items">
                <a href="#">My Routes</a>
            </li>
            <li class="navbar-items">
                <a href="#">About</a>
            </li>
            <li class="navbar-items">
                <a href="#">Info</a>
            </li>
        </ul>
        <div>
        <button onclick="login()">Sign Up</button>
        <button onclick="login()">Sign In</button>
        </div>
    </nav>